<h2>route: </h2>
<div *ngFor="let Route of Routes">
  <h3 >{{Route.id}} - {{Route.name.nl}}</h3>
  Type: {{Route.type}}
  Time: {{Route.time}}
  Distance: {{Route.distance}}
  <button (click)="genRouteArray(Route.id)">Show Route!</button>
</div>

<div *ngIf="muralSorted.length>1">
  <agm-map style="height: 500px; width: 500px;" [latitude]=" 4.7769505" [longitude]="51.58307" [zoom]="15">
  <span *ngFor="let number of numbers">
    <sebm-google-map-directions  [origin]="BlindWall(muralSorted[number].muralId)" [destination]="BlindWall(muralSorted[(number +1)].muralId)"></sebm-google-map-directions>
  </span>
  </agm-map>

</div>
