<div class="container">
<div class="angular-with-newlines">
Id: {{BlindWallDetail.id}}
Author: {{BlindWallDetail.author}}
Title: {{BlindWallDetail.title.nl}}
  <div style="white-space:pre-wrap;" class="breaking">Description: {{BlindWallDetail.description.nl}}</div>

Address: {{BlindWallDetail.address}}
Category: {{BlindWallDetail.category.nl}}
Material: {{BlindWallDetail.material.nl}}
<a href="{{BlindWallDetail.videoUrl}}">Video by: {{BlindWallDetail.videoAuthor}}</a>
Year: {{BlindWallDetail.year}}
Latitude: {{BlindWallDetail.latitude}}
Longitude: {{BlindWallDetail.longitude}}
</div>
</div>


