<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>murals: </h2>
<div *ngFor="let BlindWall of BlindWalls">
  <img src="https://api.blindwalls.gallery/{{BlindWall.images[0].file}}" alt="{{BlindWall.title.nl}}" />
  <h3>{{BlindWall.id}} - {{BlindWall.title.nl}}</h3>
</div>



<!--<ul class="list-group">-->
  <!--<li *ngFor="let BlindWall of BlindWalls" class="list-group-item">-->
    <!--{{ BlindWall.id}} - {{ BlindWall.title.nl}}-->
  <!--</li>-->
<!--</ul>-->

